In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

Ações mesmo setor

In [2]:
#tickers
tickers = ['BBDC4.SA','BBAS3.SA']
#weight for each ticker
weights = np.array([0.5, 0.5])

In [3]:
#get data in yahoo finance
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t]=wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [4]:
sec_data.tail()

             BBDC4.SA   BBAS3.SA
Date
2020-11-17  25.400000  34.200001
2020-11-18  24.620001  34.279999
2020-11-19  24.639999  34.619999
2020-11-23  24.480000  34.520000
2020-11-24  25.840000  35.849998

In [5]:
sec_data.head()

             BBDC4.SA   BBAS3.SA
Date
2008-01-02  12.794691  16.033472
2008-01-03  12.541142  15.791356
2008-01-04  12.393806  15.608431
2008-01-07  12.623318  15.979674
2008-01-08  12.816578  16.307867

In [6]:
sec_returns = np.log(sec_data/sec_data.shift(1)) #retorno logaritmico
sec_returns

            BBDC4.SA  BBAS3.SA
Date
2008-01-02       NaN       NaN
2008-01-03 -0.020016 -0.015216
2008-01-04 -0.011818 -0.011651
2008-01-07  0.018349  0.023506
2008-01-08  0.015194  0.020330
...              ...       ...
2020-11-17  0.005527  0.014573
2020-11-18 -0.031190  0.002336
2020-11-19  0.000812  0.009869
2020-11-23 -0.006515 -0.002893
2020-11-24  0.054067  0.037805

[3198 rows x 2 columns]

In [7]:
#variancia do portfolio anualizada
port_variance = np.dot(weights.T, np.dot(sec_returns.cov()*250, weights))
port_variance

0.1482804549822494

In [8]:
#volatilidade do portfolio
port_vol = (np.dot(weights.T, np.dot(sec_returns.cov()*250, weights)))**0.5

In [9]:
#--risco diversificavel (não sistemático)
#variancia anualizada
BBAS_var_a = sec_returns['BBAS3.SA'].var()*250
BBDC_var_a = sec_returns['BBDC4.SA'].var()*250

In [10]:
risco_div = port_variance - (weights[0] ** 2 * BBAS_var_a) - (weights[1] ** 2 * BBDC_var_a)
print('Risco diversificavel= '+ str(round(risco_div*100, 3)) +' %')

Risco diversificavel= 6.217 %

In [11]:
#--risco não diversificavel (sistemático)
risco_ndiv = port_variance - risco_div
print('Risco nao diversificavel= '+ str(round(risco_ndiv*100, 3)) +' %')

Risco nao diversificavel= 8.611 %

Ações setores diferentes

In [12]:
#tickers
tickers = ['VALE3.SA','MOVI3.SA']
#weight for each ticker
weights = np.array([0.5, 0.5])

In [13]:
#get data in yahoo finance
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t]=wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [14]:
sec_returns = np.log(sec_data/sec_data.shift(1)) #retorno logaritmico
sec_returns

            VALE3.SA  MOVI3.SA
Date
2007-01-02       NaN       NaN
2007-01-03 -0.050168       NaN
2007-01-04 -0.016208       NaN
2007-01-05 -0.043413       NaN
2007-01-08  0.036855       NaN
...              ...       ...
2020-11-17  0.031089  0.016459
2020-11-18 -0.007795 -0.022904
2020-11-19  0.018932  0.006980
2020-11-23  0.051375  0.033670
2020-11-24  0.031209 -0.016167

[3431 rows x 2 columns]

In [15]:
#variancia do portfolio anualizada
port_variance = np.dot(weights.T, np.dot(sec_returns.cov()*250, weights))
port_variance

0.15471094490682868

In [16]:
#volatilidade do portfolio
port_vol = (np.dot(weights.T, np.dot(sec_returns.cov()*250, weights)))**0.5

In [17]:
#--risco diversificavel (não sistemático)
#variancia anualizada
VALE_var_a = sec_returns['VALE3.SA'].var()*250
MOVI_var_a = sec_returns['MOVI3.SA'].var()*250

In [18]:
risco_div = port_variance - (weights[0] ** 2 * VALE_var_a) - (weights[1] ** 2 * MOVI_var_a)
print('Risco diversificavel= '+ str(round(risco_div*100, 3)) +' %')

Risco diversificavel= 3.892 %

In [19]:
#--risco não diversificavel (sistemático)
risco_ndiv = port_variance - risco_div
print('Risco nao diversificavel= '+ str(round(risco_ndiv*100, 3)) +' %')

Risco nao diversificavel= 11.58 %